* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@font-face {
  font-family: "Poppins-Black";
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../src/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("../src/Poppins/Poppins-ExtraLight.ttf");
}

.deform_landing_h2 {
  font-family: "Poppins-Medium", sans-serif;
  font-size: calc(0.85vh + 0.85vw);
  color: #d04747;
}

.deform_landing_h3 {
  font-family: "Poppins-ExtraLight", sans-serif;
  font-size: calc(0.7vh + 0.7vw);
  color: #d04747;
}

.deform_landing_landing {
  /* using flexbox to space around the two divs */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (orientation: portrait) {
  .deform_landing_landing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.deform_landing_animation {
  width: 65vw;
  height: 100vh;
  float: left;
  background-color: #93FAA5;
}

@media (orientation: portrait) {
  .deform_landing_animation {
    width: 100vw;
    height: 100vh;
  }
}

.deform_landing_webgl {
  -webkit-animation-name: landingPage_fade;
          animation-name: landingPage_fade;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  opacity: 40%;
}

.deform_landing_dictionary {
  width: 35vw;
  height: 100vh;
  background-color: #FAC387;
  float: right;
  z-index: 1;
}

@media (orientation: portrait) {
  .deform_landing_dictionary {
    width: 100vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0);
  }
}

.deform_landing_logoLandingPage {
  width: 15vw;
  padding-bottom: 8vh;
  pointer-events: none;
}

.deform_landing_dictionaryText {
  margin: calc(3vw + 3vh);
}

@media (orientation: portrait) {
  .deform_landing_dictionaryTextLowerFields {
    display: none;
  }
}

#deform_landing_phonetic {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: calc(1.2vh + 1.2vw);
  padding-bottom: 2vh;
  color: #d04747;
}

.deform_landing_dictionaryTextDefinitions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 4;
          flex: 1 4;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.deform_landing_dictionaryTextDefinitions > .deform_landing_dictionaryTextDefinitionsNumber {
  width: 3vw;
  font-size: calc(0.5vh + 0.5vw);
  font-family: "Poppins-ExtraLight", sans-serif;
  color: #d04747;
}

.deform_landing_dictionaryTextDefinitions > .deform_landing_italics {
  font-style: italic;
  font-family: "Poppins-ExtraLight", sans-serif;
  font-size: calc(0.7vh + 0.7vw);
  color: #d04747;
}

.deform_landing_cookiesText {
  margin: 0 calc(3vw + 3vh) calc(1vw + 1vh) 0;
  position: absolute;
  bottom: 0px;
  font-family: "Poppins-ExtraLight", sans-serif;
  color: #d04747;
}

.deform_landing_cookiesText > #deform_landing_cookiesBold {
  font-size: calc(0.3vh + 0.3vw);
}

@-webkit-keyframes landingPage_fade {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 0%;
  }
  100% {
    opacity: 40%;
  }
}

@keyframes landingPage_fade {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 0%;
  }
  100% {
    opacity: 40%;
  }
}
/*# sourceMappingURL=style.css.map */