* {
    padding: 0;
    margin: 0;
    user-select: none; //the user can't copy the text now
}

@font-face {
    font-family: "Poppins-Black";
    src: url("/Poppins/Poppins-Black.ttf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-ExtraLight";
    src: url("/Poppins/Poppins-ExtraLight.ttf");
}

h1 {
    font-family: "Poppins-Black", sans-serif;
    font-size: calc(2vh + 2vw);
    color: #d04747;
}

h2 {
    font-family: "Poppins-Medium", sans-serif;
    font-size: calc(0.85vh + 0.85vw);
    color: #d04747;
}

h3 {
    font-family: "Poppins-ExtraLight", sans-serif;
    font-size: calc(0.7vh + 0.7vw);
    color: #d04747;
}

.deform_landing_landing { /* using flexbox to space around the two divs */
    display: flex;
    @media (orientation: portrait) {
        flex-direction: column-reverse;
    }
    flex-direction: row;
    justify-content: space-around;
}

.deform_landing_animation {
    width: 60vw;
    height: 100vh;
    @media (orientation: portrait) {
        width: 100vw;
        height: 100vh;
    }
    float: left;
    background-color: #93FAA5;
}

.deform_landing_webgl {
    animation-name: landingPage_fade;
    animation-duration: 5s;
    opacity: 40%; //animation stays foggy
}

.deform_landing_dictionary {
    width: 40vw;
    height: 100vh;
    background-color: #FAC387;
    @media (orientation: portrait) {
        width: 100vw;
        height: 50vh;
        background-color: rgba($color: #000000, $alpha: 0.0);
    }
    float: right;
    z-index: 1;
}

.deform_landing_logoLandingPage {
    width: 20vh;
    padding-bottom: 2vh;
}

.deform_landing_dictionaryText {
    margin: calc(3vw + 3vh);
}

.deform_landing_dictionaryTextLowerFields {
    @media (orientation: portrait) {
        display: none;
    }
}

#deform_landing_phonetic {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1vh+1vw);
    padding-bottom: 5vh;
}

.deform_landing_dictionaryTextDefinitions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 4;
    align-items: baseline;
}

.deform_landing_dictionaryTextDefinitions > .deform_landing_dictionaryTextDefinitionsNumber {
    width: 3vw;
    font-size: calc(0.5vh + 0.5vw);
}

.deform_landing_dictionaryTextDefinitions > .deform_landing_italics {
    font-style: italic;
}

.deform_landing_cookiesText {
    margin: 0 calc(3vw + 3vh) calc(3vw + 3vh) 0;
    position: absolute;
    bottom: 0px;
}

.deform_landing_cookiesText > #deform_landing_cookiesBold {
    font-size: calc(0.4vh + 0.4vw);
}

@keyframes landingPage_fade {
    0% {
      opacity: 0%;
    }
    10% {
        opacity: 0%;
      }
    100% {
      opacity: 40%; //this way the animation stays foggy
    }
  }